.main {
  aspect-ratio: 1;
  position: relative;
}

.yellow,
.red {
  animation: fall 1s;
  margin: 0 5%;
  width: 90%;
  aspect-ratio: 9/10;
}

.yellow {
  background-color: #fde74c;
}

.red {
  background-color: #ee6352;
}

@keyframes fall {
  0% {
    bottom: 100vh;
  }
  100% {
    bottom: 0px;
  }
}
