.main {
  aspect-ratio: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.yellow,
.red {
  animation: fall 1s;
  margin: 0 5%;
  width: 90%;
  aspect-ratio: 9/10;
}

.yellow {
  background-color: #fde74c;
}

.red {
  background-color: #ee6352;
}

.winningCase {
  transition-delay: 1000ms;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.winningYellow {
  border: solid 10px #ee6352;
}

.winningRed {
  border: solid 10px #fde74c;
}

@keyframes fall {
  0% {
    bottom: 100vh;
  }
  100% {
    bottom: 0px;
  }
}
