.main {
  position: relative;
}

.cases {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 3%;
}

.support {
  position: absolute;
  width: 94%;
  height: auto;
  top: 0%;
  left: 0%;
  pointer-events: none;
  z-index: 10;
  margin: 0 3%;
  box-sizing: border-box;
}

.bottomBar {
  aspect-ratio: 25/1;
  border-radius: 5px 5px 0px 0px;
  box-sizing: border-box;
  color: rgb(250, 250, 250);
  font-size: 12px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: rgb(25, 124, 190);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.confettiContainer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 560px) {
  .bottomBar {
    font-size: 8px;
  }
}
