.gridBody {
  margin: 0 3%;
  position: relative;
}

.cases {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.support {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.bottomBar {
  aspect-ratio: 25/1;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--color-support);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  z-index: 11;
  position: relative; /* for z-index to work */
  margin-top: -0.25%;
}

.confettiContainer {
  display: flex;
  justify-content: center;
}

.confettiContainer > * {
  z-index: 100;
}
