.title {
  margin: 0px 0px 20px 0px;
  font-size: 32px;
}

.highlight {
  padding: 0 5px;
}

.button {
  margin: 0px 0px 20px 0px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: var(--color-support);
  border: solid 1px var(--color-support);
  color: white;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 400;
}

.button:hover {
  background-color: white;
  color: var(--color-support);
}

@media screen and (max-width: 560px) {
  .title {
    font-size: 24px;
  }
}
